.table-wrapper {
    max-height: 850px;
    /* max-width: 700px; */
    min-width: 560px;
    /* 👈 control visible height */
    overflow-y: auto;
    /* vertical scroll */
    overflow-x: auto;
    border: 1px solid #ccc;
}

/* Google Sheet look */
.sheet-table {
    border-collapse: collapse;
    width: max-content;
    /* important for fixed column width */
    font-family: Arial, sans-serif;
    font-size: 12px;
}

/* Fixed column width */
.sheet-table th,
.sheet-table td {
    border: 1px solid #d0d0d0;
    padding: 4px;
    width: 50px;
    /* 👈 COLUMN WIDTH */
    min-width: 50px;
    max-width: 50px;
    text-align: center;
    white-space: nowrap;
}

/* First column (district name) – OPTIONAL */
.sheet-table th:first-child,
.sheet-table td:first-child {
    /* district names need space */
    min-width: 120px;
    /* max-width: 150px; */
    text-align: left;
    font-weight: 500;
}

/* Sticky header (like Google Sheet) */
.sheet-table thead th {
    position: sticky;
    top: 0;
    background: #f1f3f4;
    z-index: 2;
}